node_modules
dist
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Vite
.vite
.next

# Cypress
cypress/videos/
cypress/screenshots/

# Playwright
test-results/
playwright-report/

# Backend
backend/venv/
backend/database.db
backend/__pycache__/
